/* Header styles */
.header {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 10px;
  background-color: lightgreen;
}

.header__logo {
  width: 50px;
}


/* Navbar styles */
.nav {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: lightcoral;
}


/* Profile page style */
.profile {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: lightsalmon;
}